
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutGiay.cshtml";
}

<!--Checkout Area Strat-->
<div class="checkout-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-accordion">
                    
                    <!--Accordion Start-->
                    <h3>@ViewBag.ThongBao <span id="showcoupon"><a href="#">Trở Về trang Chủ</a></span></h3>
                   
                    <!--Accordion End-->
                </div>
            </div>
        </div>
      
    </div>
</div>
<!--Checkout Area End-->